<!DOCTYPE html>
<html>
  <head>
    <title>CableApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  </br>
  <% if user_signed_in? %>

    <%= link_to root_path do %>
      <i></i> Top
    <% end %>

    <%= link_to home_path do %>
      <i></i> Chat
    <% end %>

    <% if current_user %>
      <a href="<%= destroy_user_session_path %>" data-method="delete" id="logout-button">로그아웃</a>
    <% end %>

  <% else %>

    <%= link_to root_path do %>
      <i></i> Top
    <% end %>

    <%= link_to new_user_registration_path do %>
      <i></i> Sign up
    <% end %>


    <%= link_to new_user_session_path do %>
      <i></i> Log in
    <% end %>
  <% end %>

    <%= yield %>
  </body>
</html>
